absl-py==1.2.0
addict==2.4.0
aiosqlite==0.17.0
altair==4.2.0
antlr4-python3-runtime==4.9.3
anyio==3.5.0
appdirs==1.4.4
apturl==0.5.2
argcomplete==1.10.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.4.1
aspose-cells==22.6.0
aspose-words==22.6.0
asttokens==2.0.5
astunparse==1.6.3
async-generator==1.10
attrs==19.3.0
Automat==0.8.0
autopep8==1.6.0
Babel==2.9.1
backcall==0.2.0
backports.zoneinfo==0.2.1
bcrypt==3.1.7
beautifulsoup4==4.8.2
black==21.7b0
bleach==4.1.0
blinker==1.4
blis==0.7.8
bqplot==0.12.33
branca==0.4.2
Brlapi==0.7.0
cachetools==5.2.0
catalogue==1.0.0
certifi==2021.5.30
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.4
ci-info==0.2.0
cliapp==1.20180812.1
click==8.0.1
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.1.0
cmdtest==0.32+git
colorama==0.4.4
colour==0.1.5
command-not-found==0.3
common==0.1.2
compressed-rtf==1.0.6
configobj==5.0.6
configparser==5.2.0
constantly==15.1.0
crypto==1.4.1
cryptography==37.0.2
cssselect==1.1.0
cupshelpers==1.0
cycler==0.11.0
cymem==2.0.6
databases==0.6.2
DateTime==4.4
dbus-python==1.2.16
debugpy==1.5.1
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
descartes==1.1.0
detectron2==0.6+cu101
distlib==0.3.0
distro==1.4.0
distro-info===0.23ubuntu1
dnspython==2.2.1
docx==0.2.4
docx2txt==0.8
duplicity==0.8.12.0
ebcdic==1.1.1
emoji==0.6.0
en-core-web-lg==2.3.1
en-core-web-md==2.1.0
en-core-web-sm==2.3.1
entrypoints==0.3
es-core-news-sm==2.3.1
et-xmlfile==1.1.0
etelemetry==0.3.0
executing==0.8.3
extract-msg==0.28.7
fastapi==0.68.0
fasteners==0.14.1
filelock==3.6.0
Fiona==1.8.21
fire==0.4.0
fitz==0.0.1.dev2
Flask==2.1.1
Flask-Cors==3.0.10
Flask-PyMongo==2.3.0
flatbuffers==1.12
folium==0.12.1.post1
fonttools==4.31.1
fpdf==1.7.2
funcy==1.17
future==0.18.2
fvcore==0.1.5.post20220512
gast==0.4.0
GDAL==3.0.4
gdown==4.4.0
gensim==4.2.0
geojson==2.5.0
geopandas==0.10.2+63.g51864ac
gitdb==4.0.9
GitPython==3.1.27
google-api-core==1.31.6
google-auth==2.9.1
google-auth-oauthlib==0.4.6
google-cloud-vision==1.0.0
google-pasta==0.2.0
google-trans-new==1.1.9
googleapis-common-protos==1.56.3
googledrivedownloader==0.4
googletrans==3.1.0a0
greenlet==1.1.2
grpcio==1.47.0
h11==0.12.0
h2==3.2.0
h5py==3.7.0
happybase==1.2.0
here-map-widget-for-jupyter==1.1.3
hpack==3.0.0
hstspreload==2022.7.10
httpcore==0.9.1
httplib2==0.14.0
httptools==0.4.0
httpx==0.13.3
hydra-core==1.2.0
hyperframe==5.2.0
hyperlink==19.0.0
idna==3.2
imageio==2.19.0
IMAPClient==2.1.0
importlib-metadata==4.12.0
importlib-resources==5.4.0
incremental==16.10.1
iniconfig==1.1.1
install==1.3.5
iopath==0.1.9
ipyevents==0.9.0
ipyfilechooser==0.6.0
ipykernel==6.9.2
ipyleaflet==0.15.0
ipysheet==0.5.0
ipython==8.1.1
ipython-genutils==0.2.0
ipytree==0.2.1
ipywidgets==7.7.0
isodate==0.6.1
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
JPype1==1.4.0
json5==0.9.6
jsonschema==4.7.2
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.3
jupyter-core==4.9.2
jupyter-server==1.15.6
jupyterlab==3.3.2
jupyterlab-pygments==0.1.2
jupyterlab-server==2.11.2
jupyterlab-widgets==1.1.0
kafka-python==2.0.2
keras==2.9.0
Keras-Preprocessing==1.1.2
keyring==18.0.1
kiwisolver==1.4.0
langcodes==3.3.0
langdetect==1.0.7
language-selector==0.1
launchpadlib==1.10.13
layoutparser==0.3.4
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
leafmap==0.8.6
libclang==14.0.1
lockfile==0.12.2
looseversion==1.0.1
louis==3.12.0
lxml==4.9.0
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mistune==0.8.4
mmcv-full==1.5.3
monotonic==1.5
more-itertools==4.2.0
Morfessor==2.0.6
mss==6.1.0
munch==2.5.0
murmurhash==1.0.7
mypy-extensions==0.4.3
Naked==0.1.31
nbclassic==0.3.7
nbclient==0.5.13
nbconvert==6.4.4
nbformat==5.2.0
nest-asyncio==1.5.4
netifaces==0.10.4
networkx==2.8
nibabel==4.0.1
nipype==1.8.2
nltk==3.7
notebook==6.4.10
notebook-shim==0.1.0
numexpr==2.8.3
numpy==1.23.1
oauthlib==3.2.0
olefile==0.46
omegaconf==2.2.2
opencv-python==4.5.5.64
openpyxl==3.0.9
opt-einsum==3.3.0
outcome==1.2.0
OWSLib==0.25.0
packaging==21.3
palettable==3.3.0
pandas==1.4.1
pandocfilters==1.5.0
paramiko==2.6.0
parso==0.8.3
pathlib==1.0.1
pathspec==0.9.0
pathy==0.6.2
patsy==0.5.2
pdf2docx==0.5.5
pdf2image==1.16.0
pdfkit==1.0.0
pdfminer.six==20220524
pdfplumber==0.7.1
pdfquery==0.4.3
pdftotext==2.2.2
pexpect==4.6.0
phonenumbers==8.12.51
pickleshare==0.7.5
Pillow==9.2.0
pip-autoremove==0.10.0
plac==0.9.6
plotly==5.6.0
pluggy==1.0.0
ply==3.11
polyglot==16.7.4
portalocker==2.5.1
preshed==3.0.6
prometheus-client==0.13.1
prompt-toolkit==3.0.28
protobuf==3.19.4
prov==2.0.0
psutil==5.9.0
psycopg2-binary==2.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
py4j==0.10.9.3
pyarrow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycld2==0.41
pycocotools==2.0.4
pycodestyle==2.8.0
pycparser==2.21
PyCRS==1.0.2
pycrypto==2.6.1
pycryptodome==3.14.1
pycryptodomex==3.14.1
pycups==1.9.73
pydantic==1.8.2
pydeck==0.7.1
pyDes==2.0.1
pydot==1.4.2
pyfiglet==0.8.post1
Pygments==2.11.2
PyGObject==3.36.0
PyHamcrest==1.9.0
PyICU==2.9
PyJWT==1.7.1
pyLDAvis==3.3.1
pymacaroons==0.13.0
pymongo==4.3.3
Pympler==1.0.1
PyMuPDF==1.20.1
PyMySQL==1.0.2
PyNaCl==1.3.0
pyOpenSSL==22.1.0
pyparsing==3.0.9
pyPdf==1.13
PyPDF2==2.4.1
pyproj==3.3.0
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
PyQtWebEngine==5.13.0
pyquery==1.4.3
pyresparser==1.0.6
pyRFC3339==1.1
pyrsistent==0.18.1
pyshp==2.2.0
PySocks==1.7.1
pyspark==3.2.1
pystac==1.2.0
pystac-client==0.3.2
pytesseract==0.3.9
pytest==7.1.1
python-apt==2.0.0+ubuntu0.20.4.8
python-box==5.4.1
python-dateutil==2.8.2
python-debian===0.1.36ubuntu1
python-docx==0.8.11
python-dotenv==0.20.0
python-multipart==0.0.5
python-pptx==0.6.21
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.3.0
pyxattr==0.6.1
pyxdg==0.26
pyxnat==1.4
PyYAML==5.3.1
pyzmq==22.3.0
qtconsole==5.3.0
QtPy==2.0.1
rdflib==6.1.1
regex==2021.8.3
reportlab==3.5.34
requests==2.28.1
requests-oauthlib==1.3.1
requests-unixsocket==0.2.0
resume-parser==0.8.4
rfc3986==1.5.0
roman==3.3
rsa==4.9
Rtree==0.9.4
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.12.1
SecretStorage==2.3.1
selenium==4.3.0
semver==2.13.0
Send2Trash==1.8.0
service-identity==18.1.0
Shapely==1.8.1.post1
shellescape==3.8.1
simplejson==3.16.0
six==1.16.0
sklearn==0.0
smart-open==5.2.1
smmap==5.0.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
spacy==2.3.5
spacy-langdetect==0.1.2
spacy-legacy==3.0.9
spacy-loggers==1.0.3
spacymoji==2.0.0
SpeechRecognition==3.8.1
SQLAlchemy==1.4.39
srsly==1.0.5
ssh-import-id==5.10
stack-data==0.2.0
starlette==0.14.2
statsmodels==0.13.2
stemming==1.0.1
streamlit==1.8.1
systemd-python==234
tabulate==0.8.10
tenacity==8.0.1
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado==0.13.3
testpath==0.6.0
textblob==0.17.1
textract==1.6.5
thinc==7.4.5
threadpoolctl==3.1.0
thriftpy2==0.4.14
tifffile==2022.5.4
tika==1.24
toml==0.10.2
tomli==1.2.1
toolz==0.11.2
torchaudio==0.8.0
tornado==6.1
tqdm==4.63.0
traitlets==5.1.1
traits==6.3.2
traittypes==0.2.1
trio==0.21.0
trio-websocket==0.9.2
ttystatus==0.38
Twisted==18.9.0
typer==0.4.1
typing-extensions==3.10.0.0
tzdata==2022.1
tzlocal==4.2
ubuntu-advantage-tools==27.11.2
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.26.6
usb-creator==0.3.7
uvicorn==0.15.0
uvloop==0.16.0
validators==0.18.2
vboxapi==1.0
vega==3.6.0
virtualenv==20.0.17
wadllib==1.3.3
Wand==0.6.7
wasabi==0.9.1
watchdog==2.1.7
watchfiles==0.15.0
wcwidth==0.2.5
webdriver-manager==3.8.2
webencodings==0.5.1
websocket-client==1.3.1
websockets==10.3
Werkzeug==2.1.2
whitebox==2.1.2
whiteboxgui==0.7.0
widgetsnbextension==3.6.0
wrapt==1.14.1
wsproto==1.1.0
xkit==0.0.0
xlrd==1.2.0
XlsxWriter==3.0.3
xyzservices==2022.3.0
yacs==0.1.8
yapf==0.32.0
youtube-dl==2020.3.24
zipp==3.8.1
zope.interface==4.7.1
